{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
    <div id="content-main">
        <!--
        {% for post in posts %}
            {% row "border-bottom" %}
            <div class="col">
                <h3>{{ post.title }}</h3>

                <pre id="post-content">
                    <p>{{ post.content|wordwrap:80 }}</p>
                    <p>{{ post.created_at }} | ({{ post.content|wordcount }} words)</p>
                </pre>
                
            </div>
            {% endrow %}
        {% endfor %}
        -->
        
        {% for post in posts %}
            {% row "border-bottom" %}
            <div class="col">
                <h3> {{ posts|display_title:post }} </h3>
                <p>{{ posts|display_created_at:post }} | ({{ posts|display_post:post|wordcount }} words)</p>

                <pre id="post-content">
                    <p>{{ posts|display_post:post|wordwrap:80 }}</p>
                </pre>
                    <div class="tags-div"><p> Tagged:
                    {% for t in posts|get_tags:post %}
                        <a href="/blog/{{t}}/1">{{t}}</a>
                    {% endfor %}
                    </p></div>
            </div>
            {% endrow %}
        {% endfor %}

        
    </div>
{% endblock %}