{% extends "base.html" %}
{% load blog_extras %}
{% load static %}
{% block content %}
    <div id="content-main">
        <h5>on the other page
        </h5>
    </div>
    <div class="album py-5">
        <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">



            {% wh3_lord_col %}
            <title>Khazrak One Eye</title><image class="faction-icon" width="70%" height="70%" href="{% static 'wh3_lords_icons/beastmen_khazrak.png' %}"></image>
            <text x="10%" y="80%" fill="#eceeef" dy=".3em">Khazrak One Eye</text>
            </svg>

            <div class="card-body">
                <p class="card-text">Has exp. boost when fighting against the Empire.  Some buffs to lower tier units.  Can use global recruitment.</p>
                {% show_modal_button %}
            </div>
            {% endwh3_lord_col %}

            <!-- Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Khazrak One Eye - Vanilla/SFO</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body modal-body-image">
                            <img src="{% static 'wh3_lords_pictures/beastmen_khazrak.jpg' %}" alt="Modal Image">
                        </div>
                    
                    </div>
                </div>
            </div>
          


        </div>
      </div>
    </div>

{% endblock %}