
{% load bootstrap4 %}
{% load static %}


<!-- Footer.  Added to the end of the each page. -->

<div class="col-md-8" id="footer">
    <p></p>
    <ul>
        <li>
            emailme : moriaritycolin@gmail.com
        </li>

        <li>
            linkedin : <a href="https://www.linkedin.com/in/colin-m-6ba3b3137/">Linkedin</a>
        </li>
    </ul>

    <p>
        Created using <a href="https://www.djangoproject.com/"><img src="{% static 'djangopythonlogo.png' %}" class="rounded float-left" alt="..."></a> and hosted on <img src="..." class="rounded float-left" alt="...">
    </p>
</div>

</body>
</html>
