
{% load bootstrap4 %}
{% load static %}


<!-- Footer.  Added to the end of the each page. -->

<div class="col-md-8" id="footer">
    <p></p>
    <ul>
        <li>
            emailme : <a href="mailto:moriaritycolin@gmail.com">moriaritycolin@gmail.com</a>
        </li>

        <li>
            linkedin : <a href="https://www.linkedin.com/in/colin-m-6ba3b3137/">Linkedin</a>
        </li>
    </ul>

    <p>
        Created using <a href="https://www.djangoproject.com/"><img src="{% static 'djangologo.png' %}" class="rounded logo" alt="..."></a>
         and hosted on 
         <a href="https://www.digitalocean.com/"><img src="{% static 'digitaloceanlogo.png' %}" class="logo rounded" alt="..."></a>
    </p>
</div>

</body>
</html>
