{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Personal Blog">
        <meta name="keywords" content="django, politics, language, python, philosophy, literature, gaming, french, spanish">
        <meta name="author" content="Thenn">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
<body>