{% load bootstrap4 %}
{% load static %}

<nav class="navbar navbar-custom navbar-expand-lg navbar-custom fixed-top">
    <!--- <a class="navbar-brand" href="/">SITE NAME</a> --->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    
    <!-- If the user is logged shows a log out button.  If not, then a log in button is shown -->
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Shows articles tagged philosophy -->
        <li class="nav-item">
          <a class="nav-link" href="/">Main</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blog/1">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/algorithms/">Algorithm Visualizer</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Data Science Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Radio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Other Apps</a>
        </li>
      </ul>
    </div>
  </nav>