{% load bootstrap4 %}
{% load static %}

<nav class="navbar navbar-custom navbar-expand-lg navbar-custom fixed-top">
    <!--- <a class="navbar-brand" href="/">SITE NAME</a> --->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Main</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blog/1">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/algorithms/">Visualizers</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/sfo_lord_differences/">WH III - SFO Lords</a>
        </li>
      </ul>
    </div>
  </nav>
