{% extends "base.html" %}
{% load blog_extras %}
{% load static %}
{% block content %}

    <script src="{% static 'scripts/p5.js' %}" type="text/javascript"></script>
    <script src="{% static 'djikstras/graphtraversal.js' %}" type="text/javascript"></script>
    <script src="{% static 'djikstras/sketch.js' %}" type="text/javascript"></script>
    

    <div id="content-main">
        <div id='divControls'>
            <label for="selectGraphType">Type of Graph</label>
            <select id='selectGraphType'>
                <option>Simple</option>
                <option>Multi</option>
                <option>Pseudograph</option>
                <option>Simple Directed</option>
                <option>Multi Directed</option>
                <option>Mixed Graph</option>
            </select>
            <label for="inputVerticesNumber">Number of Vertices:</label>
            <input id='inputVerticesNumber'>
            <label for="inputEdgesNumber">Number of Edges:</label>
            <input id='inputEdgesNumber'>
            <br>
            <br>
            <button class='button' id='buttonCreateGraph' onclick="createGraph()">Create Graph</button>
            <button class='button' id='buttonCalculateShortestPath' onclick="createShortestPath()">Calculate Shortest Path</button>
        </div>
        <div id="sketch-holder">
        </div>
    </div>
{% endblock %}