{% extends "base.html" %}
{% load blog_extras %}
{% load static %}
{% block content %}
<script src="{% static 'graphics_stuff/sinebars.js' %}" type="text/javascript"></script>
    <div id="content-main">


        <h5>Some visualizations of common algorithms and other things coded in javascript and
            <a href="https://p5js.org/"><img src="{% static 'p5js.png' %}" class="rounded logo" alt="..."></a>
        </h5>

        <h2> Algorithm Visualizations</h2>
        <ul class="list-group">
            <li class="list-group-item"> 
                <a href="/djikstras/">Djikstra's shortest path</a>
            </li>
            <li class="list-group-item">
                <a href="/searching-algos/">Linear Search</a>
            </li>
        </ul>

        <h2>Other Visualizations</h2>
        <ul class="list-group">
            <div id="sinebars-sketch-holder">
            </div>
        </ul>
    </div>
{% endblock %}